<div class="myBorders" #parent>
  <ff-select-input [disabled]="disabled" [value]="0"
                   [options]="[{value: 0, text: '1'},
                   {value: 1, text: '2'},
                   {value: 2, text: '3'},
                   {value: 3, text: '4'}]"
                   [parentContainer]="parent"
  ></ff-select-input>
  <ff-select-input [value]="['a','c']" (input)="log($event)" [multiSelect]="true"
                   [defaultValue]="null"
                   [options]="[{value: null, text: 'Nothing selected'},
                               {value: 'a', text: 'A'},
                               {value: 'b', text: 'B'},
                               {value: 'c', text: 'C'},
                               {value: 'd', text: 'D'}]"
                   [parentContainer]="parent"
  ></ff-select-input>
</div>
