.myBorders {
  height: 500px;
  border: 2px solid red;
  width: 500px;
  margin: 20px auto;
  position: relative;

  ff-select-input:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
